
body{
	font-family: arial;
	font-size: 18px;
	margin: 0;
	color: purple;
  background-color: rgb(228, 228, 228);
	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
button{
  font-family: arial;
	font-size: 18px;
	width: 750px;

}

  input {
    font-family: arial;
    font-size: 18px;
    width: 750px;
  }
  h2{
    color: red;
    font-size: 18px;
    text-align: center;
  }
  h3{
    color: purple;
    font-size: 15px;
    text-align: center;
  }